  <div class="container align-items-center d-flex justify-content-center w-50">
    <form action="answer" data-turbo="false">
        <h1 class="">Stupid Coach</h1>

        <p class="">Ask your coach anything</p>

        <div class="form-group row w-100">
        <input type="text" name="question" placeholder="write here" class="form-control col">
        <input type="submit" value="Ask!" class="btn btn-primary col-4">
        </div>

    </form>
  </div>
